<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/html5shiv.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/static/h-ui.admin/css/style.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/bootstrap.min.css" />
<!--[if IE 6]>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>品牌管理</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 产品管理 <span class="c-gray en">&gt;</span> 品牌管理 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<div class="text-c">
		<form class="Huiform" method="post" id="addAttrKey_form">
			<select class="" id="category" name="cid">
				<optgroup label="分类为空"></optgroup>
			</select>
			<input name="name" type="text" placeholder="属性名称" value="" class="input-text" style="width:120px">
			<input name="od" type="number" placeholder="排序" value="" class="input-text" style="width:120px">
			<button type="button" class="btn btn-success" onClick="addAttrKey()"><i class="Hui-iconfont">&#xe600;</i> 添加</button>
		</form>
	</div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="70">ID</th>
					<th width="120">属性名称</th>
					<th width="120">分类名称</th>
					<th width="120">属性值</th>
					<th width="100">操作</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/static/h-ui.admin/js/H-ui.admin.js"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="__PUBLIC__/Admin/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/bootstrap.min.js"></script>
<script type="text/javascript">

var dataTableObj = $('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"aoColumnDefs": [
		//{"bVisible": false, "aTargets": [ 4 ]} //控制列的隐藏显示
		{"orderable":false,"aTargets":[0,2,3]}// 制定列不参与排序
	],
	"serverSide": true,
	"ajax":{
		"url":"<{:U('getAllAttr')}>",
		"type":"POST",
		"dataSrc":AddColumns,
	},
	"columns": [
		{ data: "checkbox" },
		{ data: "id" },
		{ data: "name" },
        { data: "cname" },
        { data: "value" },
		{ data: "action" },
	],
});

//datatable动态的生成的表格上添加类名
$('.table-sort').on('draw.dt',function(){
	$('.table-sort tr').addClass('text-c');
	for(var i = 0; i < $('.table-sort tbody tr').length; i++){
		var trObj = $('.table-sort tbody tr')[i];
		$(trObj).find('td:eq(3)').addClass('td-manage');
	}
})

//给datatable添加列
function AddColumns(data){
	for(var i = 0; i < data['data'].length; i++){
		//添加选择框
		data['data'][i]['checkbox'] = '<input id="culbClassCheck" type="checkbox" value="' + data['data'][i]['id'] + '" name="culbClassCheck">';

		//添加操作列
		var action = '<a title="编辑" href="javascript:;" onclick="editKey(' + data['data'][i]['id'] + ',\'' + data['data'][i]['name'] + '\',' + data['data'][i]['od'] + ')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a>';
		action += '<a title="删除" href="javascript:;" onclick="delKey(' + data['data'][i]['id'] + ')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>';
		action += '<a title="添加值" href="javascript:;" onclick="addAttrValue(' + data['data'][i]['id'] + ')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e1;</i></a>';
		data['data'][i]['action'] = action;

		var content = '';
		for(var key in data['data'][i]['value']){
		    var row = data['data'][i]['value'][key];
			content += '<button onclick="delValue(' + row['id'] + ')" type="button" class="btn btn-warning btn-xs" style="padding: 0px; height: 18px;">' + row['name'] + '</button>&nbsp';
		}
		data['data'][i]['value'] = content;
	}
	return data['data'];
}

function addAttrKey() {
	$.post('<{:U("addKey")}>',$('#addAttrKey_form').serialize(),function (rs) {
		if(rs){
		    rs = JSON.parse(rs);
		    if(rs['errno'] == 1){
                dataTableObj.fnDraw();
			}else {
		        alert(rs['msg']);
			}
		}else {
		    alert('添加数据失败');
		}
    })
}

function editKey(id,name,od) {
    layer.open({
        type: 1,
        area: ['300px','200px'],
        fix: false, //不固定
        maxmin: false,
        shade:0.4,
        title: '修改',
        content: '<div style="text-align: center;">名称：<input id="newName" type="text" value="' + name + '"><br/>排序：<input id="newOd" type="text" value="' + od + '"><br/><input onclick="upDataKey(' + id + ')" type="button" value="修改"></div>',
    });
}

function upDataKey(id) {
	var name = $('#newName').val();
	var od = $('#newOd').val();
	$.post('<{:U("upDataKey")}>',{id:id,name:name,od:od},function(rs){
		if(rs){
		    rs = JSON.parse(rs);
		    if(rs['errno'] == 1){
                layer.closeAll();
                dataTableObj.fnDraw();
			}else {
		        alert(rs['msg']);
			}
		}else {
		    alert('修改数据失败');
		}
    })
}

function delKey(id) {
    if(confirm('确定要删除?')){
        $.post('<{:U("delKey")}>',{id,id},function (rs) {
            if(rs){
                rs = JSON.parse(rs);
                if(rs['errno'] == 1){
                    dataTableObj.fnDraw();
                }else {
                    alert('删除失败');
                }
            }else {
                alert('删除失败');
            }
        })
	}
}

function delValue(id) {
    if(confirm('确定要删除?')){
        $.post('<{:U("delValue")}>',{id,id},function (rs) {
            if(rs){
                rs = JSON.parse(rs);
                if(rs['errno'] == 1){
                    dataTableObj.fnDraw();
                }else {
                    alert('删除失败');
                }
            }else {
                alert('删除失败');
            }
        })
    }
}

function addAttrValue(keyID){
    var content = '<form id="addAttrValue_form"><div style="text-align: center;">';
    content += '名称：<input name="name" type="text"><br/>';
    content += '排序：<input name="od" type="text"><br/>';
    content += '<input type="hidden" name="keyID" value="' + keyID + '">';
    content += '<input onclick="addValue()" type="button" value="添加">';
    content += '</div></form>';
    layer.open({
        type: 1,
        area: ['300px','200px'],
        fix: false, //不固定
        maxmin: false,
        shade:0.4,
        title: '添加值',
        content: content,
    });
}

function addValue(){
	$.post('<{:U("addValue")}>',$('#addAttrValue_form').serialize(),function (rs) {
		if(rs){
		    rs = JSON.parse(rs);
		    if(rs['errno'] == 1){
                layer.closeAll();
                dataTableObj.fnDraw();
			}else {
		        alert(rs['msg']);
			}
		}else {
		    alert('添加失败');
		}
    })
}

$.post('<{:U("Category/getAllCategory")}>',function (rs) {
	if(rs){
	    rs = JSON.parse(rs);

	    var parentArr = new Array();
	    var childArr = new Array();
	    for(var i = 0; i < rs.length; i++){
			var row = rs[i];
			if(row['pid'] == 0){
			    parentArr.push(row);
			}else {
			    childArr.push(row);
			}
		}

		var content = '';
		for(var i = 0; i < parentArr.length; i++){
	        var parent = parentArr[i];
	        content += '<optgroup label="' + parent.name + '"></optgroup>';
	        for(var j = 0; j < childArr.length; j++){
	            var child = childArr[j];
	            if(parent.id == child.pid){
					content += '<option value="' + child.id + '">' + child.name + '</option>';
				}
			}
		}
		$('#category').html(content);
	}
})
</script>
</body>
</html>