<!DOCTYPE html>
<html lang="cn">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/minicolors/miniColors.css" rel="stylesheet">
    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts
    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         #nav-open-btn .nav li a:hover{background-color:#ff5e00;}
         .daoh{margin-right:30px;}
         .erji li{
          display:inline-block;
         }



    </style>

</head>

<body class="common-home res layout-1">


    <div id="wrapper" class="wrapper-fluid banners-effect-3">



    <!-- Header Container  -->
        <include file="common:header" />
    <!-- //Header Container  -->
    
   
<!-- Main Container  -->
<div class="main-container container">
    <div id="content">
        <div class="content-top-w">
            
            <!-- <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 main-left">
                <div class="module col1 hidden-sm hidden-xs"></div>
            </div>
             -->
          <!--   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-right"> -->
                <div class="slider-container row"> 
                                
                    <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col2">
                        <div class="module sohomepage-slider ">
                            <div class="yt-content-slider"  data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                                <volist name="headPic" id="row">
                                <div class="yt-content-slide" >
                                    <a href="<{$row.link}>"><img src="<{$row.pic}>" alt="slider1" class="img-responsive" style="width:100%"></a>
                                </div>
                                </volist>
                            </div>
                            
                            <div class="loadeding"></div>
                        </div>
                        
                    </div>

                     <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 col3" style="    margin-left: -12px;">
                        <div class="module product-simple extra-layout1">
                            <div class="modcontent">
                                <div id="so_extra_slider_1" class="so-extraslider" >
                                   <a href=""><img src="__PUBLIC__/Home/image/hy/gp.jpg"></a>
                                </div>
                                <div id="so_extra_slider_2" class="so-extraslider" style="">
                                   <a href=""><img src="__PUBLIC__/Home/image/hy/gp2.jpg" style="    height: 305px;"></a>
                                </div>
                            </div>
                        </div>
                    </div>                    
           <!--  </div>  -->                                       
        </div>
        <div class="row content-main-w">
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12 main-left">
                
                <div class="module">
                    <div class="banners banners2">
                        <div class="banner">
                            <a href="#" style="width:100%;"><img src="__PUBLIC__/Home/image/catalog/banners/banner1.jpg" alt="image"></a>
                        </div>
                    </div>
                </div>

                <div class="module product-simple extra-layout1">
                    <h3 class="modtitle">
                        <span>最新产品</span>
                    </h3>
                    <div class="modcontent">
                        <div class="so-extraslider" >
                            <!-- Begin extraslider-inner -->
                            <div class="yt-content-slider extraslider-inner" data-rtl="yes" data-pagination="yes" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1" data-items_column3="1" data-items_column4="1" data-arrows="no" data-lazyload="yes" data-loop="no" data-buttonpage="top">
                                <volist name="newProduct" id="row">
                                <div class="item">
                                    <volist name="row" id="row1">
                                        <div class="product-layout item-inner style1 ">
                                            <div class="item-image">
                                                <div class="item-img-info">
                                                    <a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" target="_self"><img src="<{$row1.pic1}>"></a>
                                                </div>
                                            </div>
                                            <div class="item-info">
                                                <div class="item-title element">
                                                    <a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" target="_self"><{$row1.name}> </a>
                                                </div>
                                                <div class="content_price price">
                                                    <span style="font-size: 14px;color: #666;">型号:</span><span class="price-new product-price"><{$row1.type}></span>&nbsp;&nbsp;
                                                </div>
                                            </div>
                                        </div>
                                    </volist>
                                </div>
                                </volist>
                            </div>
                            <!--End extraslider-inner -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- col-10 -->

             <div class="col-lg-10 col-md-9 col-sm-8 col-xs-12 main-right">
                <div class="static-cates">
                    <ul>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/cat1.jpg" alt="image"></a>
                        </li>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/cat2.jpg" alt="image"></a>
                        </li>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/cat3.jpg" alt="image"></a>
                        </li>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/cat4.jpg" alt="image"></a>
                        </li>
                        <li>
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/cat5.jpg" alt="image"></a>
                        </li>
                    </ul>
                </div>

                <!-- Deals -->
                <div class="module deals-layout1">
                    <div class="head-title">
                        <div class="modtitle">
                            <span>今日优惠</span>
                              <!--<a class="viewall" href="#">查看更多</a>-->
                        </div>    
                    </div>
                    <div class="modcontent">
                        <div id="so_deal_1" class="so-deal style1">
                            <div class="extraslider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="6" data-items_column0="5" data-items_column1="3" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
                                <volist name="discountProduct" id="row">
                                    <div class="item">
                                        <div class="item-inner product-layout transition product-grid">
                                            <div class="product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="box-label">
                                                        <span class="label-product label-sale"><{$row.discount}></span>
                                                    </div>
                                                    <div class="product-image-container second_img">
                                                        <a href="<{:U('Product/productDetail',array('id'=>$row['id']))}>" target="_self" title="Pastrami bacon">
                                                            <img src="<{$row.pic1}>" class="img-1 img-responsive">
                                                            <img src="<{$row.pic2}>" class="img-2 img-responsive">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="button-group so-quickview cartinfo--left">
                                                        <button type="button" class="addToCart" title="加入购物车" onclick="addCart('<{$row.id}>');">
                                                            <span>加入购物车 </span>
                                                        </button>
                                                        <a href="<{:U('Product/productDetail2',array('id'=>$row['id']))}>">
                                                            <button type="button" class="wishlist btn-button" title="询价">
                                                                <i class="fa fa-heart-o"></i><span>询价</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div class="caption hide-cont element1" >
                                                        <h4 style="margin:0;"><a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" title="Pastrami bacon" target="_self"><{$row.name}></a></h4>
                                                    </div>
                                                </div>

                                                <div class="item-available">
                                                    <p class="a2">型号: <b><{$row.type}></b>  </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>
                      </div>
                </div>
                <!-- End Deals -->

                <!-- Banners -->
                <div class="banners3 banners">
                    <div class="item1">
                        <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/banner3.jpg" alt="image"></a>
                    </div>
                    <div class="item2">
                        <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/banner4.jpg" alt="image"></a>
                    </div>
                    <div class="item3">
                        <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/banner5.jpg" alt="image"></a>
                    </div>
                </div>
                <!-- end Banners -->
            </div>

          <!-- col-10 -->
            <div class="col-lg-12" >
                <div class="so-category-slider container-slider module cateslider1" id="dapai">
                    <div class="modcontent">                                                                
                        <div class="page-top" style="margin-bottom:0px;">
                            <div class="page-title-categoryslider">大牌推荐</div> 
                        </div>
                        <div class="tabs clearfix">
                          <div class="item-sub-cat tabbable" style="float:left;width: 100%">
                              <ul class="nav nav-tabs">
                                  <li  style=" margin-left: 20px;background-color: #dbdada;margin-top: 2px;"><a onmouseover="showContent('div-1')" style="padding: 4px 42px;">电脑</a></li>
                                  <li style=" margin-left: 20px;background-color: #dbdada;margin-top: 2px;"><a onmouseover="showContent('div-2')" style="padding: 4px 42px;">手机</a></li>
                                  <li style=" margin-left: 20px;background-color: #dbdada;margin-top: 2px;"><a onmouseover="showContent('div-3')" style="padding: 4px 42px;">大家电</a></li>
                                  <li style=" margin-left: 20px;background-color: #dbdada;margin-top: 2px;"><a onmouseover="showContent('div-4')" style="padding: 4px 42px;">影音娱乐</a></li>
                                  <li style=" margin-left: 20px;background-color: #dbdada;margin-top: 2px;"><a onmouseover="showContent('div-5')" style="padding: 4px 42px;">汽车</a></li>
                              </ul>
                              <div class=" tab-content">
                                <div class="tab-pane active pinpai-div element1" >
                                  <volist name="brandCommend" id="row">
                                      <ul id="div-<{$key + 1}>" style="display: none;">
                                          <volist name="row" id="row1">
                                              <li><a href="<{:U('Product/product',array('bid'=>$row1['id']))}>"><img src="<{$row1.pic}>"></a></li>
                                          </volist>
                                      </ul>
                                  </volist>
                                </div>
                              </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
          <!-- col-12 -->
           <div class="col-lg-12" >

               <volist name="datas" id="model" mod="2" key="mk">
                <!-- Category Slider 1 -->
                <eq name="mod" value="1">
                <div class="so-category-slider container-slider module cateslider1" id="dnbg">
                    <div class="modcontent">
                        <!-- 模块标题 -->
                        <div class="page-top" style="margin-bottom: 0px;">
                            <div class="page-title-categoryslider"><{$model['modelName']}></div>
                            <div class="item-sub-cat"  style="    margin-top: 20px;">
                                <a href="<{:U('Product/product',array('c1'=>$model['modelID']))}>" style="margin-right:30px;"><span>查看更多&gt</span></a>
                            </div>
                        </div>
                        <!-- 模块标题结束 -->

                        <!-- 模块tag -->
                        <div class="page-top" style="background-color:#ebe8e8;">
                            <volist name="model.tag" id="row">
                            <eq name="i" value="1">
                            <div style="" class="mulu-lf">
                                 <div style="" class="title-list-lf">
                                      <h3><span style="margin-right:10px;"><img src="__PUBLIC__/Home/image/hy/le1.png"></span><{$row.name}></h3>
                                 </div>
                                 <div style="" class="title-list-rg">
                                      <ul>
                                        <volist name="row.value" id="row1">
                                        <a href="<{:U('Product/product',array('tid'=>$row1['id']))}>"><li><{$row1.name}></li></a>
                                        </volist>
                                     </ul>
                                 </div>
                            </div>
                            <else/>
                            <div style="" class="mulu-rg">
                                <div style="" class="title-list-lf-lf">
                                      <h3><span style="margin-right:10px;"><img src="__PUBLIC__/Home/image/hy/le2.png"></span><{$row.name}></h3>
                                </div>
                                <div style="" class="title-list-lf-rg">
                                    <ul>
                                        <volist name="row.value" id="row1">
                                            <a href="<{:U('Product/product',array('tid'=>$row1['id']))}>"><li><{$row1.name}></li></a>
                                        </volist>
                                    </ul>
                                </div>
                            </div>
                            </eq>
                            </volist>
                        </div>
                        <!-- 模块tag end -->

                        <div class="categoryslider-content row">
                            <!--广告图-->
                            <div class="item-cat-image erjimul col-md-4" style="">
                                <div class="erjimu2">
                                     <img src="__PUBLIC__/Home/image/catalog/demo/category/tab2.jpg">
                                </div>
                                <div class="erjimul" style="padding: 0px;">
                                     <img src="__PUBLIC__/Home/image/hy/2.png">
                                </div>
                            </div>
                            <!--广告图-->
                            <div class="category-slider-inner products-list row col-md-8" >
                                <!--产品-->
                                <div class="col-md-9">
                                    <div class="row product-layout transition product-grid">
                                        <volist name="model.product" id="row">
                                            <div class="col-md-3 product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container second_img">
                                                        <a href="<{:U('Product/productDetail',array('id'=>$row['id']))}>" target="_self">
                                                            <img src="<{$row.pic1}>" class="img-1 img-responsive">
                                                            <noempty name="row.pic2"></noempty>
                                                            <img src="<{$row.pic2}>" class="img-2 img-responsive">
                                                            </noempty>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="button-group so-quickview cartinfo--left">
                                                        <button type="button" class="addToCart" title="加入购物车" onclick="addCart('<{$row.id}>');">
                                                            <span>加入购物车 </span>
                                                        </button>
                                                        <a href="<{:U('Product/productDetail2',array('id'=>$row['id']))}>">
                                                            <button type="button" class="wishlist btn-button" title="询价">
                                                                <i class="fa fa-heart-o"></i><span>询价</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div class="caption hide-cont element1">
                                                        <h4 style="margin:0;"><a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" title="Pastrami bacon" target="_self"><{$row.name}></a></h4>
                                                    </div>
                                                    <p class="price"><span style="color: #666;">型号：</span><{$row.type}></p>
                                                </div>
                                            </div>
                                        </volist>
                                    </div>
                                </div>
                                <!--产品-->

                                <!--标签产品-->
                                <div class="col-md-3" >
                                    <div class="left-title" style=" border: 1px solid #eee;margin-bottom:20px;">
                                        <ul>
                                            <volist name="model.tproduct" id="row">
                                            <li onmouseover="showTagContent('m<{$mk}>-','<{$i}>')"><{$row.tagName}></li>
                                            </volist>
                                        </ul>
                                    </div>

                                    <volist name="model.tproduct" id="row" key="k">
                                        <div class="row" id="m<{$mk}>-<{$k}>" style="display: none;">
                                           <volist name="row.product" id="row1">
                                               <div class="product-layout item-inner style1 col-md-12" style="">
                                                  <div class="item-image" style="width: 24%;float: left;">
                                                      <div class="item-img-info">
                                                          <a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" target="_self">
                                                              <img src="<{$row1.pic1}>" alt="Mandouille short">
                                                              </a>
                                                      </div>
                                                  </div>
                                                  <div class="item-info ele" style="width: 70%;float: left;margin-top:3%;margin-left:10px;">
                                                      <div class="item-title element ">
                                                          <a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" target="_self"><{$row1.name}></a>
                                                      </div>
                                                      <div class="content_price price">
                                                          <p class="a2" style="color:#666;">型号: <b style="color:#ff5e00;"><{$row1.type}></b></p>
                                                      </div>
                                                  </div>
                                              </div>
                                          </volist>
                                        </div>
                                    </volist>
                                </div>
                                <!--标签产品-->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end Category Slider 1 -->
                <else/>
                <!-- Category Slider 2 -->
                <div class="so-category-slider container-slider module cateslider2" id="shoujisj">
                    <div class="modcontent">                                                                
                        <div class="page-top" style="margin-bottom:0px;">
                            <div class="page-title-categoryslider"><{$model.modelName}></div>
                            <div class="item-sub-cat" style="    margin-top: 20px;">  
                                 <a href="<{:U('Product/product',array('c1'=>$model['modelID']))}>" style="margin-right:30px;"><span>查看更多&gt</span></a>
                            </div> 
                        </div>

                        <div class="page-top" style="background-color:#ebe8e8;">
                            <volist name="model.tag" id="row">
                                <eq name="i" value="1">
                                    <div style="" class="mulu-lf">
                                        <div style="" class="title-list-lf">
                                            <h3><span style="margin-right:10px;"><img src="__PUBLIC__/Home/image/hy/le1.png"></span><{$row.name}></h3>
                                        </div>
                                        <div style="" class="title-list-rg">
                                            <ul>
                                                <volist name="row.value" id="row1">
                                                    <a href="<{:U('Product/product',array('tid'=>$row1['id']))}>"><li><{$row1.name}></li></a>
                                                </volist>
                                            </ul>
                                        </div>
                                    </div>
                                    <else/>
                                    <div style="" class="mulu-rg">
                                        <div style="" class="title-list-lf-lf">
                                            <h3><span style="margin-right:10px;"><img src="__PUBLIC__/Home/image/hy/le2.png"></span><{$row.name}></h3>
                                        </div>
                                        <div style="" class="title-list-lf-rg">
                                            <ul>
                                                <volist name="row.value" id="row1">
                                                    <a href="<{:U('Product/product',array('tid'=>$row1['id']))}>"><li><{$row1.name}></li></a>
                                                </volist>
                                            </ul>
                                        </div>
                                    </div>
                                </eq>
                            </volist>
                        </div>
                        
                        <div class="categoryslider-content row">
                            <div class="item-cat-image erjimul col-md-4" style="min-height: 351px;padding: 0px;">
                                <div class="erjimu2">
                                     <img src="__PUBLIC__/Home/image/catalog/demo/category/tab1.jpg">
                                </div>
                                <div class="erjimul">
                                    <img src="__PUBLIC__/Home/image/hy/3.png">
                                </div>
                            </div>
                            <div class=" category-slider-inner products-list row col-md-8" >

                                <!--标签产品-->
                                <div class="col-md-3" >
                                    <div class="left-title" style=" border: 1px solid #eee;margin-bottom:20px;">
                                        <ul>
                                            <volist name="model.tproduct" id="row">
                                                <li onmouseover="showTagContent('m<{$mk}>-','<{$i}>')"><{$row.tagName}></li>
                                            </volist>
                                        </ul>
                                    </div>

                                    <volist name="model.tproduct" id="row" key="k">
                                        <div class="row" id="m<{$mk}>-<{$k}>" style="display: none;">
                                            <volist name="row.product" id="row1">
                                                <div class="product-layout item-inner style1 col-md-12" style="">
                                                    <div class="item-image" style="width: 24%;float: left;">
                                                        <div class="item-img-info">
                                                            <a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" target="_self">
                                                                <img src="<{$row1.pic1}>">
                                                            </a>
                                                        </div>

                                                    </div>
                                                    <div class="item-info ele" style="width: 70%;float: left;margin-top:3%;margin-left:10px;">
                                                        <div class="item-title element ">
                                                            <a href="<{:U('Product/productDetail',array('id'=>$row1['id']))}>" target="_self"><{$row1.name}></a>
                                                        </div>

                                                        <div class="content_price price">
                                                            <p class="a2" style="color:#666;">型号: <b style="color:#ff5e00;"><{$row1.type}></b></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </volist>
                                        </div>
                                    </volist>
                                </div>
                                <!--标签产品-->
                                <!--产品-->
                                <div class="col-md-9">
                                    <div class="row product-layout transition product-grid">
                                        <volist name="model.product" id="row">
                                            <div class="col-md-3 product-item-container">
                                                <div class="left-block left-b">
                                                    <div class="product-image-container second_img">
                                                        <a href="<{:U('Product/productDetail',array('id'=>$row['id']))}>" target="_self">
                                                            <img src="<{$row.pic1}>" class="img-1 img-responsive">
                                                            <noempty name="row.pic2"></noempty>
                                                            <img src="<{$row.pic2}>" class="img-2 img-responsive">
                                                            </noempty>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="right-block">
                                                    <div class="button-group so-quickview cartinfo--left">
                                                        <button type="button" class="addToCart" title="加入购物车" onclick="addCart('<{$row.id}>');">
                                                            <span>加入购物车 </span>
                                                        </button>
                                                        <a href="<{:U('Product/productDetail2',array('id'=>$row['id']))}>">
                                                            <button type="button" class="wishlist btn-button" title="询价">
                                                                <i class="fa fa-heart-o"></i><span>询价</span>
                                                            </button>
                                                        </a>
                                                    </div>
                                                    <div class="caption hide-cont element1">
                                                        <h4 style="margin:0;"><a href="<{:U('Product/productDetail',array('id'=>$row['id']))}>" target="_self"><{$row.name}></a></h4>
                                                    </div>
                                                    <p class="price"><span style="color: #666;">型号：</span><{$row.type}></p>
                                                </div>
                                            </div>
                                        </volist>
                                    </div>
                                </div>
                                <!--产品-->
                           </div>
                        </div>
                    </div>
                </div>
                </eq>
                <!-- end Category Slider 2 -->
               </volist>


                <!-- Banners -->
                <div class="banners4 banners">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/bn1.jpg" alt="image"></a>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <a href="#"><img src="__PUBLIC__/Home/image/catalog/banners/bn2.jpg" alt="image"></a>
                        </div>
                    </div>
                </div>
                <!-- end Banners -->

                <!-- Listing tabs -->
                <div class="module listingtab-layout1">
                    
                    <div id="so_listing_tabs_1" class="so-listing-tabs first-load">
                        <div class="loadeding"></div>
                        <div class="ltabs-wrap">
                            <div class="ltabs-tabs-container" data-delay="300" data-duration="600" data-effect="starwars" data-ajaxurl="" data-type_source="0" data-lg="5" data-md="3" data-sm="2" data-xs="1" data-margin="30">
                                <!--Begin Tabs-->
                                <div class="ltabs-tabs-wrap"> 
                                <span class="ltabs-tab-selected">Bathroom</span> <span class="ltabs-tab-arrow">▼</span>
                                    <div class="item-sub-cat">
                                        <ul class="ltabs-tabs cf">
                                            <li class="ltabs-tab tab-sel" data-category-id="20" data-active-content=".items-category-20"> <span class="ltabs-tab-label">热销榜</span> </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Tabs-->
                            </div>
                        
                            <div class="ltabs-items-container products-list grid">
                                <!--Begin Items-->
                                <div class="ltabs-items ltabs-items-selected items-category-20" data-total="16">
                                    <div class="ltabs-items-inner ltabs-slider">

                                        <volist name="hotProduct" id="row">
                                            <div class="item">
                                                <div class="item-inner product-layout transition product-grid">
                                                    <div class="product-item-container">
                                                        <div class="left-block left-b">
                                                            <div class="product-image-container second_img">
                                                                <a href="<{:U('Product/productDetail',array('id'=>$row['id']))}>" target="_self" title="Ullamco occaeca">
                                                                    <img src="<{$row.pic1}>" class="img-1 img-responsive" alt="image1">
                                                                    <img src="<{$row.pic2}>" class="img-2 img-responsive" alt="image2">
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="right-block">
                                                            <div class="button-group so-quickview cartinfo--left">
                                                                <button type="button" class="addToCart" title="加入购物车" onclick="addCart('<{$row.id}>');">
                                                                    <span>加入购物车 </span>
                                                                </button>
                                                                <a href="<{:U('Product/productDetail2',array('id'=>$row['id']))}>">
                                                                    <button type="button" class="wishlist btn-button" title="询价">
                                                                        <i class="fa fa-heart-o"></i><span>询价</span>
                                                                    </button>
                                                                </a>
                                                                <!--<button type="button" class="compare btn-button" title="询价 " onclick="compare.add('60');"><i class="fa fa-retweet"></i><span>询价</span>-->
                                                                <!--</button>-->
                                                            </div>
                                                            <div class="caption hide-cont element1">
                                                                <h4 style="margin:0;"><a href="<{:U('Product/productDetail',array('id'=>$row['id']))}>" title="Pastrami bacon" target="_self"><{$row.name}></a></h4>
                                                            </div>
                                                            <p class="price">
                                                                <p class="price"><span style="color: #666;">型号：</span><{$row.type}></p>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </volist>

                                    </div>
                                </div>
                                <div class="ltabs-items items-category-18 grid" data-total="16">
                                    <div class="ltabs-loading"></div>
                                    
                                </div>
                                <div class="ltabs-items  items-category-25 grid" data-total="16">
                                    <div class="ltabs-loading"></div>
                                </div>
                                <!--End Items-->
                            </div>
                            
                        </div>   
                    </div>
                </div>
                <!-- end Listing tabs -->
                
                <!-- Slider Brands -->
                <div class="slider-brands col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="yt-content-slider contentslider" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="7" data-items_column0="7" data-items_column1="5" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-arrows="yes"
                            data-pagination="no" data-lazyload="yes" data-loop="yes">
                        <volist name="brandList" id="row">
                            <div class="item">
                                <a href="<{:U('Product/index',array('bid'=>$row['id']))}>">
                                    <img src="<{$row.pic}>" alt="brand">
                                </a>
                            </div>
                        </volist>
                    </div>
                </div> 
                <!-- Slider Brands -->


            </div>
          <!-- col-12 -->
        </div>
        
    </div>
</div>
<!-- //Main Container -->
   <div class="xuanf-daohang" style="width: 35px; height: 310px;;display: block;">
        <div class="xuanf-daohang-div" style=" line-height: 14px;">
            <ul>
               <a href="#dapai"><li>大牌推荐</li></a>
               <li><a href="#dnbg"><span>电脑办公</span></a></li>
               <li><a href="#shoujisj"><span>手机</span></a></li>
               <li> <a href="#yinyue"><span>影音娱乐</span></a></li>
               <li> <a href="#dajiadian"><span>大家电</span></a></li>
               <li><a href="#cartc"><span>汽车</span></a></li>
            </ul> 
        </div>
   </div>
   <div class="xuanf-daohang-right" style="width: 35px; height: 944px;visibility: visible;right: 0px;">
        <div class="xuanf-daohang-div" style=" line-height: 14px;">
            <a href="" > <img src="__PUBLIC__/Home/image/hy/hy.png"></a>
            <div class="xuanf-hy">
                会员权益
            </div>
        </div>
        <div class="gouwu">
           <a href="cart.html"><img src="__PUBLIC__/Home/image/hy/car.png">
           <p style="width: 10px;color: #fff;text-align: center;margin-left: 11px;margin-top: 3px;">购物车</p></a>
        </div>
        <div class="xuanf-daohang-zc" style=" line-height: 14px;">
            <a href=""><img src="__PUBLIC__/Home/image/hy/zc.png"></a>
            <div class="xuanf-zc">
                我的资产
            </div>
        </div>
   </div>

    <!-- Footer Container -->
    <include file="common:footer" />
    <!-- //end Footer Container -->

    </div>

</div>
<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/unveil/jquery.unveil.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/countdown/jquery.countdown.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/datetimepicker/moment.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/modernizr/modernizr-2.6.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/minicolors/jquery.miniColors.min.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/application.js"></script>

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/homepage.js"></script>

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/toppanel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>
    <script type="text/javascript" src="__PUBLIC__/JS/common.js"></script>

<script language="javascript">
$('#div-1').css('display','block');
function showContent(id) {
    id = '#' + id;
    for(var i = 0; i < 6; i++){
        var name = '#div-' + i;
        $(name).css('display','none');
    }
    $(id).css('display','block');
}

$('#m1-1').css('display','block');
$('#m2-1').css('display','block');
$('#m3-1').css('display','block');
$('#m4-1').css('display','block');
$('#m5-1').css('display','block');
function showTagContent(id,index){
    var el = '#' + id + index;
    for(var i = 0; i < 5; i++){
        var name = '#' + id + i;
        $(name).css('display','none');
    }
    $(el).css('display','block');
}

</script>
</body>
</html>

