<div class="page-top" style="background-color:#ebe8e8;;">
    <div style="" class="mulu-lf">
         <div style="" class="title-list-lf">
              <h3><span style="margin-right:10px;"><img src="image/hy/le1.png"></span>按功能分类</h3>
         </div>
         <div style="" class="title-list-rg">
              <ul>
                <a href=""><li>高清屏</li></a>
                <a href=""><li>高性能</li></a>
                <a href=""><li>大屏幕</li></a>
                <a href=""><li>极速上网</li></a>
                <a href=""><li>拍照手机</li></a>
                <a href=""><li>超薄手机</li></a>
                <a href=""><li>双卡双待</li></a>
                <a href=""><li>超长待机</li></a>
                <a href=""><li>自拍神器</li></a>
                <a href=""><li>三防运动</li></a>
             </ul>
         </div>
    </div> 
    <div style="" class="mulu-rg">
         <div style="" class="title-list-lf-lf">
              <h3><span style="margin-right:10px;"><img src="image/hy/le2.png"></span>按客户端分类</h3>
         </div>
         <div style="" class="title-list-lf-rg">
              <ul>
                <a href=""><li>移动用户</li></a>
                <a href=""><li>联通用户</li></a>
                <a href=""><li>电信用户</li></a>
                <a href=""><li>商务用户</li></a>
                <a href=""><li>女性手机</li></a>
                <a href=""><li>老人手机</li></a>
                <a href=""><li>自拍神器</li></a>
                <a href=""><li>三防运动</li></a>
             </ul>
         </div>
    </div> 
</div>

 <a href="" style="margin-right:30px;"><span>查看更多&gt</span></a>


<div class="item-cat-image erjimul col-md-4" style="min-height: 351px;padding: 0px;">
    <div class="erjimu2">
         <img src="image/catalog/demo/category/tab1.jpg">
    </div>
    <div class="erjimul">
       
    </div>
</div>