
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
    <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="css/themecss/so-categories.css" rel="stylesheet">
    <link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="css/footer/footer1.css" rel="stylesheet">
    <link href="css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="css/theme.css" rel="stylesheet"> 
    <link href="css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
    <header id="header" class=" typeheader-1" style="background-color:#fff;">
        
        <!-- Header Top -->
        <div class="top-bar" style="background-color:#222;">
            <div class="container" style="width:1200px;color: #fff;">
              <span style="color:#d9d7d7;line-height: 35px;">欢迎来到竞价买卖网!</span>
              <a href=""  style="color:#d9d7d7;margin-left:15px"><span>你好！2306</span></a>
              <!-- <a href=""  style="color:#d9d7d7;margin-left:15px"><span>免费注册</span></a> -->
              <div class="right-sec" style="color:#d9d7d7;">
                <ul style="margin-top: 3px;" class="baobei">
                  <li class=""><a href="#." style="color:#d9d7d7;">我的宝贝</a>
                      <ul class="baobei-ying">
                          <a href=""><li style="display:block;">已买到的宝贝</li></a>
                          <a href=""><li style="display:block;">已卖出的宝贝</li></a>
                      </ul>
                  </li>
                  <li><a href="#." style="color:#d9d7d7;">收藏夹</a></li>
                  <li><a href="#." style="color:#d9d7d7;">手机站</a></li>
                  <li><a href="#." style="color:#d9d7d7;"><span><img src="image/hy/wx2.png" style="margin-right:5px;"></span>微信公众号 </a></li>
                  <li><a href="#." style="color:#d9d7d7;">帮助中心 </a></li>
                  <li><a href="#." style="color:#d9d7d7;"><span><img src="image/hy/dh.png" style="margin-right:5px;"></span>网站导航</a></li>  

                </ul>
               
              </div>
            </div>
          </div>
      
  <!-- Header -->
          <header style="padding-top:40px;">
            <div class="container" >
              <div class="logo">
                  <a href="index.html"><img src="images/logo.png" alt="" ></a> 
              </div>
              <div>
                  <div class="shop_process_box">
					<ul class="shop_process">
						<li class="fl">
							<div class="shop_process_imgbox tc"></div>
							<div class="shop_process_word c_666 tc">查看购物车</div>
						</li>
						<li class="fl">
							<div class="shop_process_imgbox cur tc"></div>
							<div class="shop_process_word c_666 tc">确认订单</div>
						</li>
						<li class="fl">
							<div class="shop_process_imgbox tc"><span>3</span></div>
							<div class="shop_process_word c_666 tc">在线付款</div>
						</li>
						<li class="fl">
							<div class="shop_process_imgbox tc"><span>4</span></div>
							<div class="shop_process_word c_666 tc">确认收货</div>
						</li>
					</ul>
				</div>
              </div>
              <!-- <div class="zhuce">
	               <ul style="  margin-left: 23%;margin-bottom: 30px;">
	                  <a href=""><li style="border-bottom: 4px solid #ff5e00;line-height: 57px;"><span>1</span>查看购物车</li></a>
	                  <a href=""><li><span style="line-height: 57px;background-color: #999;">2</span>确认订单</li></a>
	                  <a href=""><li><span style="background-color: #999;">3</span>在线付款</li></a>
	                  <a href=""><li><span style="background-color: #999;">4</span>确认收货</li></a>
	               </ul>
			  </div> -->
            </div>
          </header>
        <!-- //Header center -->

    </header>
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">

		<div class="container">
			<div class="row">
		        <div class="col-lg-12 querens" style="">
		           <h3 style=" font-weight: bold;color: #ff5e00;">确认收货地址</h3>
		        </div>
		        <div class="w1200">
					<!-- <p class="font16 c_999 fontw order_adr_title"></p> -->
					<ul class="order_adr_choose_box clearfix">
						<li class="fl mr-20 cur">
							<div class="order_adr_choose font13 c_666">
								<p class="fontw"  style="margin:0px;">陈雪君 15967368886</p>
								<hr style="margin:0px;">
								<span>浙江省 温州市 瓯海区</span><br>
								<span>南白象 华润万象城附近上蔡后桥旁边羿住公寓5楼8325</span>
							</div>
							<p class="clearfix font14 dis_none">
								<a class="fl">设为默认</a>
								<a class="fr ml-20 c_006bd5" onclick="del(this)">删除</a>
								<a class="fr c_006bd5">修改</a>
							</p>
						</li>
						<li class="fl mr-20">
							<div class="order_adr_choose font13 c_666">
								<p class="fontw" style="margin:0px;">陈雪君 15967368886</p>
								<hr  style="margin:0px;">
								<span>浙江省 温州市 瓯海区</span><br>
								<span>南白象 华润万象城附近上蔡后桥旁边羿住公寓5楼8325</span>
							</div>
							<!-- <p class="clearfix font14 dis_none">
								<a class="fl">设为默认</a>
								<a class="fr ml-20 c_006bd5" onclick="del(this)">删除</a>
								<a class="fr c_006bd5">修改</a>
							</p> -->
						</li>
						<li class="fl mr-20">
							<div class="order_adr_choose font13 c_666">
								<p class="fontw" style="margin:0px;">陈雪君 15967368886</p>
								<hr  style="margin:0px;">
								<span>浙江省 温州市 瓯海区</span><br>
								<span>南白象 华润万象城附近上蔡后桥旁边羿住公寓5楼8325</span>
							</div>
							<!-- <p class="clearfix font14 dis_none">
								<a class="fl">设为默认</a>
								<a class="fr ml-20 c_006bd5" onclick="del(this)">删除</a>
								<a class="fr c_006bd5">修改</a>
							</p> -->
						</li>
						<li class="fl">
							<a href="#" class="order_adr_add tc">
								<span class="fontw tc">+</span>
								<span class="font14 c_333">使用新地址</span>
							</a>
						</li>
					</ul>
				</div>
		        <div class="col-lg-3 address">
		        </div>
				<div id="contents" role="main" class="main-page col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
							    <div class="woocommerce">
							       <h3 style=" font-weight: bold;color: #ff5e00;">确认订单信息</h3>
							    </div>
								<div class="woocommerce">
									<form action="" method="post">
										<table class="shop_table shop_table_responsive cart" cellspacing="0" style="width:100%;">
											<thead>
												<tr>
													<th class="product-remove">&nbsp;</th>
													<th class="product-thumbnail">图片</th>
													<th class="product-name">产品</th>
													<th class="product-price">规格</th>
                                                    <th class="product-price">价格</th>
													<th class="product-quantity">数量</th>
													<th class="product-subtotal">小计</th>
												</tr>
											</thead>
											
											<tbody>
												<tr class="cart_item cart-table">
													<td class="product-remove" style="    border: 1px solid #f9ecec;">
														<input type="checkbox" name="" style="    vertical-align: middle;"> 					
													</td>
													
													<td class="product-thumbnail" style="text-align: center;    border: 1px solid #f9ecec;">
														<a href="simple_product.html">
															<img width="180" height="180" src="images/1903/56-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="images/1903/56-180x180.jpg 180w, images/1903/56-150x150.jpg 150w, images/1903/56-300x300.jpg 300w, images/1903/56.jpg 600w" sizes="(max-width: 180px) 100vw, 180px">
														</a>
													</td>
													
													<td class="product-name" data-title="Product" style="text-align: center;border: 1px solid #f9ecec;">
														<a href="simple_product.html">智能相机</a>					
													</td>
													<td class="product-quantity" data-title="Quantity" style="text-align: center;border: 1px solid #f9ecec;">
							                            <div class="">
							                             <span>店铺：海尔电器店</span><br>
							                             <span>颜色分类：红色</span><br>
							                             <span>8G/256G/Win10</span>
							                            </div>
							                          </td>

													<td class="product-price" data-title="Price" style="text-align: center;border: 1px solid #f9ecec;">
														<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">￥</span>300.00</span>					
													</td>

													<td class="product-quantity" data-title="Quantity" style="text-align: center;border: 1px solid #f9ecec;">
							                            <div class="" >
							                              <span style="font-size:22px;" class="min">－</span>
							                              <input type="number" value="1" class="text_box"  inputmode="numeric" style="width: 60px;text-align: center;">
							                              <span style="font-size:22px;" class="add">＋</span>
							                            </div>
						                          	</td>
													<td class="product-subtotal" data-title="Total" style="text-align: center;border: 1px solid #f9ecec;">
                            
                                                       	<span class="woocommerce-Price-amount amount" style="color:#ff5e00;font-size: 18px;font-weight: bold;"><span class="woocommerce-Price-currencySymbol" >￥</span>300.00</span>	
													</td>
												</tr>


											</tbody>
										</table>
									</form>

								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 
    <div class="main-container container">
		<div class="container">
			<div class="row">
				<div class="fl col-lg-4" >
					<div class="clearfix order_pay_type_box">
						<h3 style="    color: #ff5e00;font-weight: bold;">快捷支付</h3>
						<ul class="fl clearfix">
							<li class="fl clearfix">
								<label class="wx_pay order_pay_type fl">
									<input type="radio" name="pay_type">
								</label>
							</li>
							<li class=" clearfix">
								<label class="zfb_pay order_pay_type fl">
									<input type="radio" name="pay_type">
								</label>
							</li>
							<li class=" clearfix">
								<label class="wgzf_pay order_pay_type fl">
									<input type="radio" name="pay_type">
								</label>
							</li>
						</ul>
					</div>
					<div class="leaving_msg_box ">
						<p class="leaving_msg">给商家留言:</p>
						<textarea name="" id="" class="leaving_msg_content font12"></textarea>
					</div>
				</div>
				<div class="buy_msg_box col-lg-8">
				<p class="tr"><span class="font16 mr-20 fontw c_333 order_confirm_total">实付款:</span>￥<span class="fontw" style="font-size:18px;color:#ff5e00;font-weight: bold;">1000.00</span></p>
				<p class="tr"><span class="font14 c_333 fontw">寄送至： </span><span class="c_666 font14">浙江省 温州市 瓯海区 南白象 华润万象城附近上蔡后桥旁边羿住公寓5楼8325</span></p>
				<p class="tr"><span class="font14 c_333 fontw">收货人：</span><span class="c_666 font14">陈雪君 15967368886</span></p>
			</div>
			<div style="width:50%;float:right;text-align: right;margin-top:8%;" class="zflj">
                <input type="submit" class="button" name="update_cart" value="立即支付" >  
            </div>
			</div>
		</div>
	</div>

    <!-- Footer Container -->
    <footer class="footer-container typefooter-1">
        <!-- Footer Top Container -->
 
            <div class="container">
                <div class="row footer-top">
                    <div class="col-lg-3 " style="text-align: center;">
                          <img src="image/tu/pin.png" style="    width: 30px; margin-bottom: 5px; margin-right: 6px;">
                          <span style="font-size: 24px;color:#fff;">品质</span>
                          <span style="font-size: 14px;color:#fff;margin-left:10px;">正品行货 购物无忧</span>
                    </div>
                    <div class="col-lg-3 " style="text-align: center;">
                         <img src="image/tu/di.png" style="    width: 30px; margin-bottom: 5px; margin-right: 6px;">
                        <span style="font-size: 24px;color:#fff;">低价</span>
                        <span style="font-size: 14px;color:#fff;margin-left:10px;">普惠实价 帮你省钱</span>
                    </div>
                    <div class="col-lg-3 " style="text-align: center;">
                           <img src="image/tu/su.png" style="    width: 30px; margin-bottom: 5px; margin-right: 6px;">
                          <span style="font-size: 24px;color:#fff;">速达</span>
                          <span style="font-size: 14px;color:#fff;margin-left:10px;">专业配送 按时按需</span>
                    </div>
                    <div class="col-lg-3 " style="text-align: center;">
                           <img src="image/tu/wu.png" style="    width: 30px; margin-bottom: 5px; margin-right: 6px;">
                          <span style="font-size: 24px;color:#fff;">无忧</span>
                          <span style="font-size: 14px;color:#fff;margin-left:10px;">售后15天可退换货</span>
                    </div>
                </div>
            </div>
      
        <!-- /Footer Top Container -->
        
        <div class="footer-middle ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-infos">
                        <div class="infos-footer">
                            <a href="#"><img src="images/logo.png" alt="image"></a>
                            <ul class="menu">
                                
                                <li class="phone">
                                    0577-86787446
                                </li>
                                <li class="time">
                                    工作时间: 8:00AM - 6:00PM
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
                        <div class="box-information box-footer">
                            <div class="module clearfix">
                                <h3 class="modtitle">购物指南</h3>
                                <div class="modcontent">
                                    <ul class="menu">
                                        <li><a href="#">注册登录</a></li>
                                        <li><a href="#">密码相关</a></li>
                                        <li><a href="#">购物流程</a></li>
                                        <li><a href="#">交易条款ion</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
                        <div class="box-account box-footer">
                            <div class="module clearfix">
                                <h3 class="modtitle">支付方式</h3>
                                <div class="modcontent">
                                    <ul class="menu">
                                        <li><a href="#">支付宝支付</a></li>
                                        <li><a href="#">微信支付</a></li>
                                        <li><a href="#">发票说明</a></li>
                                        <li><a href="#">电子发票s</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-clear">
                        <div class="box-service box-footer">
                          <div class="module clearfix">
                            <h3 class="modtitle">售后服务</h3>
                            <div class="modcontent">
                              <ul class="menu">
                                <li><a href="#">售后服务政策</a></li>
                                <li><a href="#">退换货说明</a></li>
                                <li><a href="#">安装/维修</a></li>
                                <li><a href="#">咨询投诉</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
                        <div class="box-service box-footer">
                            <div class="module clearfix">
                                <h3 class="modtitle">商家入驻</h3>
                                <div class="modcontent">
                                    <ul class="menu">
                                        <li><a href="#">入驻说明</a></li>
                                        <li><a href="#">入驻流程</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 col-style">
                        <div class="box-service box-footer">
                          <div class="module clearfix">
                            <h3 class="modtitle">关于我们</h3>
                            <div class="modcontent">
                              <ul class="menu">
                                <li><a href="#">平台简介</a></li>
                                <li><a href="#">联系我们</a></li>
                              </ul>
                            </div>
                          </div>
                        </div>
                    </div>


                    
                </div>
            </div>
        </div>
      
        <!-- Footer Bottom Container -->
        <div class="footer-bottom">
            <div class="copyright-w">
                <div class="container">
                    <div class="copyright">
                    Copyright &copy; 2018.邢台尚进网络科技有限公司.
                    </div>
                </div>
            </div>            
        </div>
        <!-- /Footer Bottom Container -->
        
        
            <!--Back To Top-->
        <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
    </footer>
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="js/slick-slider/slick.js"></script>
<script type="text/javascript" src="js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="js/themejs/addtocart.js"></script>  


<script type="text/javascript">

$(function(){
$(".add").click(function(){
var t=$(this).parent().find('input[class*=text_box]');
t.val(parseInt(t.val())+1)
setTotal();
})
$(".min").click(function(){
var t=$(this).parent().find('input[class*=text_box]');
t.val(parseInt(t.val())-1)
if(parseInt(t.val())<0){
t.val(0);
}
setTotal();
})
function setTotal(){
var s=0;
$("#tab td").each(function(){
s+=parseInt($(this).find('input[class*=text_box]').val())*parseFloat($(this).find('span[class*=price]').text());
});
$("#total").html(s.toFixed(2));
}
setTotal();

})
</script>

</body>
</html>


