
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
         .content-top .entry-summary table thead tr th, .entry-content .entry-summary table thead tr th, .commentlist .entry-summary table thead tr th {
    border-right: 0px;
}
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
        <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
		<div class="row">

            <!--左侧导航栏-->
            <include file="common:userLeftBar" />
            <!--左侧导航栏-->

            <div id="contents" role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
                <form id="address_form">
                    <div class="dindan-title">
                        <div class="add-title">
                             <h3><span class="sign">*</span>添加新的地址</h3>
                        </div>
                        <div class="form-box dizhi">
                          <label style="width: 12%;"><span class="sign">*</span>地址： </label>
                          <ul style="width:86%;">
                             <li>
                                 <select id="province" name="province" onchange="setCity(this)">

                                 </select>
                             </li>
                             <li>
                                 <select id="city" name="city" onchange="setArea(this)">
                                  <option value="0">--市--</option>
                                 </select>
                             </li>
                             <li>
                                 <select id="area" name="area">
                                  <option value="0">--区--</option>
                                 </select>
                             </li>
                          </ul>
                        </div><!-- /.form-box -->
                        <div class="form-box">
                          <label for="address" style="width: 12%;"><span class="sign">*</span>详细地址 </label>
                          <input type="text" id="address" name="address" placeholder="请输入你详细的收货地址" >
                        </div><!-- /.form-box -->
                        <div class="form-box">
                          <label for="name" style="width: 12%;"><span class="sign">*</span>收货人姓名： </label>
                          <input type="tel" name="name"  id="name" placeholder="收件人姓名">
                        </div><!-- /.form-box -->
                        <div class="form-box" >
                          <label for="postcode" style="width: 12%;">邮政编码： </label>
                          <input type="tel" name="postcode"  id="postcode" placeholder="邮编">
                        </div><!-- /.form-box -->
                        <div class="form-box">
                          <label for="phone" style="width: 12%;"><span class="sign">*</span>手机号： </label>
                          <input type="text"  name="phone" placeholder="请输入你的手机号"  id="phone">
                        </div><!-- /.form-box -->
                        <div class="form-box">
                          <input type="checkbox" id="isdefault" name="isdefault" value="2" style="margin-left: 10%;width: 20px;">
                          <span style="margin-right:20px;">设为默认地址</span>
                          <input type="hidden" id="addressID" name="id">
                          <button onclick="return addAddress()" style="background-color:#ff5e00;color:#fff;border:1px solid #ff5e00; width:80px;">保存</button>
                        </div><!-- /.form-box -->
                    </div>
                </form>
              </div>

              <h3>全部地址</h3>
					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
								<div class="woocommerce">
                                    <table class="shop_table shop_table_responsive cart" cellspacing="0" style="width:100%;margin-bottom: 50px;">
                                        <thead>
                                            <tr style="background-color: #fbf1f1;">
                                                <th class="">收货人</th>
                                                <th class="">所在地区</th>
                                                <th class="">详细地址</th>
                                                <th class="">邮编</th>
                                                <th class="">电话/手机号</th>
                                                <th class="">操作</th>
                                                <th class="">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody id="addressList">
                                           <volist name="address" id="row">
                                            <tr class="cart_item cart-table shanchu2" >
                                                <td class="product-name" data-title="Product" style="text-align: center;">
                                                    <{$row.name}>
                                                </td>
                                                <td class="product-thumbnail" style="text-align: center;">
                                                    <{$row.province}> <{$row.city}> <{$row.area}>
                                                </td>
                                                <td class="product-name" data-title="Product" style="text-align: center;">
                                                    <{$row.address}>
                                                </td>
                                                <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                    <{$row.postcode}>
                                                </td>
                                                <td class="product-price" data-title="Price" style="text-align: center;">
                                                    <{$row.phone}>
                                                </td>
                                                <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                    <a onclick="edit('<{$row.id}>',this)" ><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:16px"></i></a>
                                                    <a onclick="del('<{$row.id}>',this)" style="margin-left:20px;"><i class="fa fa-trash fa-trash2" aria-hidden="true"></i></a>
                                                </td>
                                                <td class="product-subtotal" data-title="Total" style="text-align: center;">
                                                     <eq name="row.isdefault" value="2">
                                                         默认地址
                                                     </eq>
                                                </td>
                                            </tr>
                                           </volist>
                                        </tbody>
                                    </table>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>

					</div>

				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/area.js"></script>

<script>
var temp = `<tr class="cart_item cart-table shanchu2" >
               <td class="product-name" data-title="Product" style="text-align: center;">
                    {<name>}
                </td>
                <td class="product-thumbnail" style="text-align: center;">
                    {<province>} {<city>} {<area>}
                </td>
                <td class="product-name" data-title="Product" style="text-align: center;">
                    {<address>}
                </td>
                <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                   {<postcode>}
                </td>
                <td class="product-price" data-title="Price" style="text-align: center;">
                    {<phone>}
                </td>
                <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                    <a onclick="edit('{<id>}',this)"><i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size:16px"></i></a>
                    <a onclick="del('{<id>}',this)" style="margin-left:20px;"><i class="fa fa-trash fa-trash2" aria-hidden="true"></i></a>
                </td>
                <td class="product-subtotal" data-title="Total" style="text-align: center;">
                     {<isdefault>}
                </td>
            </tr>`;

function addAddress() {
    if($('#province').find('option:selected').val() == 0 || $('#city').find('option:selected').val() == 0 || $('#area').find('option:selected').val() == 0 || $('#address').val() == '' ){
        alert('请选择收货地址');
        return false;
    }
    if(!$('#name').val()){
        alert('请填写收件人姓名');
        return false;
    }
    if(!$('#postcode').val()){
        alert('请填写邮编');
        return false;
    }
    if(!$('#phone').val()){
        alert('请填写手机号');
        return false;
    }

    var province = $('#province').find('option:selected').text();
    var city = $('#city').find('option:selected').text();
    var area = $('#area').find('option:selected').text();
    var address = $('#address').val();
    var name = $('#name').val();
    var postcode = $('#postcode').val();
    var phone = $('#phone').val();
    var isdefault = $('#isdefault').is(':checked') ? 2 : 1;
    var id = $('#addressID').val();

    var data = {province:province,city:city,area:area,address:address,name:name,postcode:postcode,phone:phone,isdefault:isdefault};
    if(id > 0){
        data['id'] = id;
    }
    $.post('<{:U("addAddress")}>',data,function (rs) {
        if(rs){
            rs = JSON.parse(rs);
            if(rs['errno'] == 1){
                if(id > 0){
                    $('#addressID').val('');
                    location.reload();
                }else {
                    if(data['isdefault'] == 2){
                        data['isdefault'] = '默认地址';
                    }else {
                        data['isdefault'] = '';
                    }
                    for(var key in data){
                        temp = temp.replace('{<' + key + '>}',data[key]);
                    }
                    $('#addressList').append(temp);
                }
            }else {
                alert(rs['msg']);
            }
        }else {
            alert('保存收货地址失败');
        }
    })
    return false;
}

function edit(id,obj) {
    $.post('<{:U("getAddressByID")}>',{id:id},function (rs) {
        if(rs){
            rs = JSON.parse(rs);
            if(rs['errno'] == 1){
                setProvince();
                var data = rs['data'];

                var province = $('#province').find('option');
                for(var i = 0; i < province.length; i++){
                    if($(province[i]).text() == data['province']){
                        $(province[i]).attr('selected','selected');
                        setCity($('#province'));
                    }
                }
                var city = $('#city').find('option');
                for(var i = 0; i < city.length; i++){
                    if($(city[i]).text() == data['city']){
                        $(city[i]).attr('selected','selected');
                        setArea($('#city'));
                    }
                }
                var area = $('#area').find('option');
                for(var i = 0; i < area.length; i++){
                    if($(area[i]).text() == data['area']){
                        $(area[i]).attr('selected','selected');
                    }
                }

                $('#address').val(data['address']);
                $('#name').val(data['name']);
                $('#postcode').val(data['postcode']);
                $('#phone').val(data['phone']);
                if(data['isdefault'] == 2){
                    $('#isdefault').attr('checked','checked');
                }else {
                    $('#isdefault').attr('checked',false);
                }
                $('#addressID').val(data['id']);
            }else {
                alert(rs['msg']);
            }
        }else {
            alert('修改失败');
        }
    })
}

function del(id,obj) {
    if(confirm('确认要删除？')){
        $.post('<{:U("delAddress")}>',{id:id},function (rs) {
            if(rs){
                rs = JSON.parse(rs);
                if(rs['errno'] == 1){
                    $(obj).parents('tr').remove();
                }else {
                    alert(rs['msg']);
                }
            }else {
                alert('删除失败');
            }
        })
    }
}
</script>

</body>
</html>


