
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
         .content-top .entry-summary table thead tr th, .entry-content .entry-summary table thead tr th, .commentlist .entry-summary table thead tr th {
    border-right: 0px;
}
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
       <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

                <include file="common:userLeftBar"/>

                <div id="contents" role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
                      <div class="dindan-title">
                        <h3>我的订单</h3>
                      </div>
                      <div class="dindan-list">
                        <ul>
                           <a href="dindan.html"><li  style="color:#ff5e00;border-bottom: 4px solid #ff5e00;">全部<span>20</span></li></a>
                           <a href="daifu.html"><li><i class="fa fa-credit-card-alt" aria-hidden="true"></i>待付款<span>2</span></li></a>
                           <a href=""><li><i class="fa fa-truck" aria-hidden="true"></i>待发货<span>10</span></li></a>
                           <a href=""><li><i class="fa fa-gift" aria-hidden="true"></i>待收货<span>2</span></li></a>
                           <a href=""><li><i class="fa fa-star-o" aria-hidden="true"></i>待评价<span>1</span></li></a>
                           <a href=""><li><i class="fa fa-check" aria-hidden="true"></i>已完成<span>0</span></li></a>
                           <a href=""><li><span></span></li></a>
                        </ul>
                      </div>
                   </div>

					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
								<div class="woocommerce">                
									<form action="" method="post">
										<table class="shop_table shop_table_responsive cart" cellspacing="0" style="width:100%;">
											<thead>
												<tr>
													<th class="">&nbsp;</th>
													<th class="">图片</th>
													<th class="">产品</th>
													<th class="">规格</th>
                                                    <th class="">价格</th>
													<th class="">数量</th>
													<th class="">操作</th>
												</tr>
											</thead>
											<tbody>
                                                <tr style="position: sticky;bottom:0px;background-color: #fff;z-index: 99999;">
                                                  <td colspan="7" class="actions" style="text-align: center;border: 1px solid #ccc;padding:4px 10px;background-color: rgba(244, 242, 242, 0.43);">
                                                    <div class="coupon">
                                                        <input type="checkbox" name="" style=" vertical-align: middle;">
                                                        <span style="font-size:12px;margin-left:10px;">订单号：243936291533058537</span>
                                                    </div>
                                                    <div style="width:50%;float:right;    text-align: right;">
                                                        <a href=""><span>删除</span></a>
                                                    </div>
                                                  </td>
                                                </tr>
												<tr class="cart_item cart-table">
													<td class="product-remove">
		
													</td>			
													<td class="product-thumbnail" style="text-align: center;">
														<a href="simple_product.html">
															<img width="180" height="180" src="images/1903/56-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="images/1903/56-180x180.jpg 180w, images/1903/56-150x150.jpg 150w, images/1903/56-300x300.jpg 300w, images/1903/56.jpg 600w" sizes="(max-width: 180px) 100vw, 180px">
														</a>
													</td>
													<td class="product-name" data-title="Product" style="text-align: center;">
														<a href="simple_product.html">智能相机</a>					
													</td>
													<td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                        <div class="">
                                                             <span>店铺：海尔电器店</span><br>
                                                             <span>颜色分类：红色</span><br>
                                                             <span>8G/256G/Win10</span>
                                                        </div>
                                                    </td>
													<td class="product-price" data-title="Price" style="text-align: center;">
														<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>300.00</span>					
													</td>
													<td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                        <div class="">
                                                            <span>1</span>
                                                        </div>
                                                    </td>
													<td class="product-subtotal" data-title="Total" style="text-align: center;">
                                                        <button type="button" class="wishlist btn-button">
                                                             <span>评价</span>
                                                        </button>
													</td>
												</tr>
                        
                                                <tr style="position: sticky;bottom:0px;background-color: #fff;z-index: 99999;">
                                                  <td colspan="7" class="actions" style="text-align: center;border: 1px solid #ccc;padding:4px 10px;background-color: rgba(244, 242, 242, 0.43);">
                                                    <div class="coupon">
                                                        <input type="checkbox" name="" style=" vertical-align: middle;">
                                                        <span style="font-size:12px;margin-left:10px;">订单号：243936291533058537</span>
                                                    </div>
                                                    <div style="width:50%;float:right;    text-align: right;">
                                                        <a href=""><span>删除</span></a>
                                                    </div>
                                                  </td>
                                                </tr>
                                                <tr class="cart_item cart-table">
                                                  <td class="product-remove">

                                                  </td>
                                                  <td class="product-thumbnail" style="text-align: center;">
                                                    <a href="simple_product.html">
                                                      <img width="180" height="180" src="images/1903/56-180x180.jpg" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image" alt="" srcset="images/1903/56-180x180.jpg 180w, images/1903/56-150x150.jpg 150w, images/1903/56-300x300.jpg 300w, images/1903/56.jpg 600w" sizes="(max-width: 180px) 100vw, 180px">
                                                    </a>
                                                  </td>
                                                  <td class="product-name" data-title="Product" style="text-align: center;">
                                                    <a href="simple_product.html">智能相机</a>
                                                  </td>
                                                  <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                    <div class="">
                                                     <span>店铺：海尔电器店</span><br>
                                                     <span>颜色分类：红色</span><br>
                                                     <span>8G/256G/Win10</span>
                                                    </div>
                                                  </td>
                                                  <td class="product-price" data-title="Price" style="text-align: center;">
                                                    <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>300.00</span>
                                                  </td>
                                                  <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                    <div class="">
                                                        <span>1</span>
                                                    </div>
                                                  </td>
                                                  <td class="product-subtotal" data-title="Total" style="text-align: center;">
                                                      <button type="button" class="wishlist btn-button">
                                                           <span>评价</span>
                                                      </button>
                                                  </td>
                                                </tr>

											</tbody>
										</table>
									</form>
                    
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>

					</div>

				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>




</body>
</html>


