
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
        <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

        <div class="col-lg-12" style="    font-size: 18px;">
           <span>全部商品</span>
        </div>

				<div id="contents" role="main" class="main-page col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
								<div class="woocommerce">
										<table class="shop_table shop_table_responsive cart" cellspacing="0" style="width:100%;" id="tab">
											<thead>
												<tr>
													<th class="product-remove">&nbsp;</th>
													<th class="product-thumbnail">图片</th>
													<th class="product-name">产品</th>
                                                    <th class="product-price">单价</th>
													<th class="product-quantity">数量</th>
													<th class="product-subtotal">操作</th>
												</tr>
											</thead>
											<tbody id="allProduct">
                                            <volist name="product" id="row">
												<tr class="cart_item cart-table shanchu2">
                                                  <td class="product-remove" style=" text-align: center;">
                                                    <input type="checkbox" value="<{$row.id}>" onclick="setTotal()" name="cid[]" class="checkedProduct" >
                                                  </td>

                                                  <td class="product-thumbnail" style="text-align: center;    border: 1px solid #ccc;">
                                                    <a href="simple_product.html">
                                                      <img width="180" height="180" src="<{$row.pic1}>" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                                    </a>
                                                  </td>

                                                  <td class="product-name" data-title="Product" style="text-align: center;border: 1px solid #ccc;">
                                                    <a href="simple_product.html"><{$row.name}></a>
                                                  </td>

                                                  <td class="product-price" data-title="Price" style="text-align: center;border: 1px solid #ccc;">
                                                    <span class="woocommerce-Price-amount amount">￥<span class="woocommerce-Price-currencySymbol price"><{$row.price}></span></span>
                                                  </td>

                                                  <td class="product-quantity" data-title="Quantity" style="text-align: center;border: 1px solid #ccc;">
                                                    <div class="" >
                                                      <input type="number" name="num[]" onchange="setTotal()" min="0" value="<{$row.num}>" class="num"  inputmode="numeric" style="width: 60px;text-align: center;">
                                                    </div>
                                                  </td>
                                                  <td class="product-subtotal" data-title="Total" style="text-align: center;border: 1px solid #ccc;">
                                                    <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="addWishlist('<{$row.id}>');">
                                                         <span>移入收藏夹</span>
                                                    </button>
                                                    <a onclick="del('<{$row.id}>',this)" style="margin-left:20px;"><i class="fa fa-times fa-times2" aria-hidden="true"></i></a>
                                                  </td>
                                                </tr>
                                            </volist>
												<tr style="position: sticky;bottom:0px;background-color: #fff;z-index: 99999;">
													<td colspan="7" class="actions" style="text-align: center;border: 1px solid #ccc;">
														<div class="coupon">
                                                            <input type="checkbox" name="" id="allChecks" onclick="ckAll()" style="vertical-align: middle;">
                                                            <label for="coupon_code">全选:</label>
                                                        </div>
                                                        <div style="width:50%;float:right;    text-align: right;">
                                                            <span>合计：<span style="font-size:18px;color:#ff5e00;"><label id="total"></label></span></span>
                                                            <input type="button" onclick="buy()"  class="button" name="update_cart" value="结算" style="    width: 70px;">
                                                        </div>
													</td>
												</tr>

											</tbody>
										</table>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>
<script type="text/javascript" src="__PUBLIC__/JS/common.js"></script>

<script>
function del(id,obj){
    if(confirm('确定要删除')){
        $.post('<{:U("common/delCart")}>',{id:id},function (rs) {
            if(rs){
               rs = JSON.parse(rs);
               if(rs['errno'] == 1){
                    alert('删除成功');
                    $(obj).parents('tr').remove();
               }else {
                   alert(rs['msg']);
               }
            }
        })
    }
}

//全选
 function ckAll(){
     var flag=document.getElementById("allChecks").checked;
     var cks=document.getElementsByClassName("checkedProduct");
         for(var i=0;i<cks.length;i++){
         cks[i].checked=flag;
     }
     setTotal()
 }
//加减


function setTotal(){
    var totle = 0;
    $('.checkedProduct:checked').each(function(){
        var price = $(this).parents('tr').find('.price').text();
        var num = $(this).parents('tr').find('.num').val();
        totle = totle + (num * price);
    })
    $('#total').text(totle.toFixed(2));
}
setTotal();

function buy() {
    var data = {};
    var index = 0;
    $('.checkedProduct:checked').each(function(){
        tempData = {};
        var num = $(this).parents('tr').find('.num').val();
        var cid = $(this).val();
        tempData['cid'] = cid;
        tempData['num'] = num;
        data[index] = tempData;
        index++;
    })
    httpPost('<{:U("Order/order")}>',data);
}

</script>

</body>
</html>


