
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
        <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

                <!--左侧导航栏-->
                <include file="common:userLeftBar" />
                <!--左侧导航栏-->

				<div id="contents" role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
				    <div class="row adn" style="    margin: 0;">
				       <div style="width:30%;float:left;" class="col-lg-12">
				          <div class="lf-rg">
				              <img src="__PUBLIC__/Home/image/hy/top.png">
				          </div>
				           <div class="lf-lf">
				               <span>管理员</span><br>
				               <span>欢迎来到竞价买卖网！</span>
				           </div>
				       </div>
				       <div style="width:20%;float:left;text-align: center;">
				           <a href=""><span>我的收货地址</span></a>
				       </div>
				       <div style="width:20%;float:left;">
				       </div>
				    </div>
                   <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
                      <div class="dindan-title">
                        <h3>我的订单<a href=""><span>查看全部<i class="fa fa-angle-right lf-10" aria-hidden="true"></i></span></a></h3>
                      </div>
                      <div class="dindan-list">
                        <ul>
                           <a href="dindan.html"><li>全部<span>20</span></li></a>
                           <a href=""><li><i class="fa fa-credit-card-alt" aria-hidden="true"></i>待付款<span>2</span></li></a>
                           <a href=""><li><i class="fa fa-truck" aria-hidden="true"></i>待发货<span>10</span></li></a>
                           <a href=""><li><i class="fa fa-gift" aria-hidden="true"></i>待收货<span>2</span></li></a>
                           <a href=""><li><i class="fa fa-star-o" aria-hidden="true"></i>待评价<span>1</span></li></a>
                           <a href=""><li><i class="fa fa-check" aria-hidden="true"></i>已完成<span>0</span></li></a>
                           <a href=""><li><span></span></li></a>
                        </ul>
                      </div>
                   </div>

					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
								<div class="woocommerce">                
									
                    
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
            <div class="col-lg-12 statr-list row" style="padding:0px;margin-bottom: 16px;">
              <div class="dindan-title">
                <h3 style="    padding-left: 10px;">我的收藏<a href="collection.html"><span>查看更多<i class="fa fa-angle-right lf-10" aria-hidden="true"></i></span></a></h3> 

              </div>
              <div class="dindan-list">
                 <div class="shangpin">
                      <span>你还没有收藏的商品<a href="index.html">前去逛逛吧！</a></span>
                 </div>
              </div>
           </div>
           <!-- 人气商品 -->
           <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
              <div class="dindan-title">
                <h3>人气商品<a href=""><span>查看更多</span></a></h3> 

              </div>
              <div id="contents" role="main" class="main-page col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <!--changed listings-->
              <div class="products-list row nopadding-xs so-filter-gird">
              
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Lastrami bacon">
                                    <img src="image/catalog/demo/product/270/e1.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/e10.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                        </div>
                        <div class="right-block"> 
                            <div class="caption hide-cont element1">
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                            </div>
                            <p class="price">
                              <span class="price-new">￥80.00</span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            <div class="box-label">
                                <span class="label-product label-sale">-15%</span>
                            </div>
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Exceeur sint occaecat">
                                    <img src="image/catalog/demo/product/270/e2.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/e9.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->
                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥50.00</span>
                             
                            </p>
                           
                            
                            
                        </div>                                                
                    </div>
                </div>
            
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Mapicola incidid">
                                    <img src="image/catalog/demo/product/270/e3.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/e8.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥60.00</span>          
                            </p>
                           
                            
                            
                        </div>                                            
                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            <div class="box-label">
                                <span class="label-product label-new">New</span>
                            </div>
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Duis aute irure ">
                                    <img src="image/catalog/demo/product/270/e4.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/e7.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥48.00</span>              
                            </p>

                           
                            
                            
                        </div>                                        
                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Excepteur sint occ">
                                    <img src="image/catalog/demo/product/270/e5.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/e6.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥90.00</span>                            
                            </p>

                           
                            
                            
                        </div>
                    </div>
                </div>

                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                           
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="PCenison meatloa">
                                    <img src="image/catalog/demo/product/270/e6.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/e2.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">￥42.00</p>
                           
                            
                            
                        </div>
                       
                    </div>
                </div>

                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            <div class="box-label">
                                <span class="label-product label-new">New</span>
                            </div>
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Sunt inculpa qui">
                                    <img src="image/catalog/demo/product/270/fu1.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/fu10.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥60.00</span>                                      
                            </p>

                           
                            
                            
                        </div>

                    </div>
                </div>
                    
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Chicken swinesha">
                                    <img src="image/catalog/demo/product/270/fu2.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/fu9.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->
                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥55.00</span>                            
                            </p>

                           
                            
                            
                        </div> 
                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            <div class="box-label">
                                <span class="label-product label-sale">-10%</span>
                            </div>
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Mapicola incidid">
                                    <img src="image/catalog/demo/product/270/fu3.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/fu8.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥90.00</span>
                            </p>
                        </div>                                        
                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Dormd dea irure">
                                    <img src="image/catalog/demo/product/270/fu4.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/fu7.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥48.00</span>              
                            </p>

                           
                            
                            
                        </div>                                        
                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Mecepteur sint rew">
                                    <img src="image/catalog/demo/product/270/fu5.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/fu6.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥90.00</span>                            
                            </p>
                           
                            
                            
                        </div>

                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                           
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Sed ut perspicia">
                                    <img src="image/catalog/demo/product/270/fu6.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/fu2.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">￥42.00</p>
                           
                            
                            
                        </div>                                               
                    </div>
                </div>
                
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Dormd dea irure">
                                    <img src="image/catalog/demo/product/270/f4.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/f7.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥48.00</span>              
                            </p>  
                        </div>                                        
                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                            
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Mecepteur sint rew">
                                    <img src="image/catalog/demo/product/270/f5.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/f6.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">
                              <span class="price-new">￥90.00</span>                            
                            </p>

                           
                            
                            
                        </div>

                    </div>
                </div>
                <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                    <div class="product-item-container">
                        <div class="left-block left-b">
                           
                            <div class="product-image-container second_img">
                                <a href="product.html" target="_self" title="Sed ut perspicia">
                                    <img src="image/catalog/demo/product/270/f6.jpg" class="img-1 img-responsive" alt="image1">
                                    <img src="image/catalog/demo/product/270/f2.jpg" class="img-2 img-responsive" alt="image2">
                                </a>
                            </div>
                            <!--quickview-->                                                      
                            <!--end quickview-->

                            
                        </div>
                        <div class="right-block">
                            <div class="button-group so-quickview cartinfo--left">
                                
                            </div>
                            <div class="caption hide-cont element1">
                                
                                <h4><a href="product.html" title="Pastrami bacon" target="_self">Haier/海尔 洗烘一体 EG8</a></h4>
                                
                            </div>
                            <p class="price">￥42.00</p>
                        </div>                                               
                    </div>
                </div>

            </div>

        </div>
           </div>
           <!-- 人气商品 -->
					</div>

				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>




</body>
</html>


