
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
        <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

                <!--左侧导航栏-->
                <include file="common:userLeftBar" />
                <!--左侧导航栏-->

				<div role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
				    <div class="row adn" style="    margin: 0;">
				       <div style="width:30%;float:left;" class="col-lg-12">
				          <div class="lf-rg">
                              <empty name="userInfo.headpic">
				                  <img src="__PUBLIC__/Home/image/hy/top.png">
                              <else/>
                                  <img src="<{$userInfo.headpic}>">
                              </empty>
				          </div>
				           <div class="lf-lf">
				               <span><{$userInfo.nickname}></span><br>
				               <span>欢迎来到竞价买卖网！</span>
				           </div>
				       </div>
				       <div style="width:20%;float:left;text-align: center;">
				           <!--<a href=""><span>我的收货地址</span></a>-->
				       </div>
				       <div style="width:20%;float:left;">
				       </div>
				    </div>
                   <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
                      <div class="dindan-title">
                        <h3>我的订单<a href="<{:U('User/buyerOrder')}>"><span>查看全部<i class="fa fa-angle-right lf-10" aria-hidden="true"></i></span></a></h3>
                      </div>
                      <div class="dindan-list">
                        <ul>
                            <a href="<{:U('User/buyerOrder')}>"><li  style="color:#ff5e00;border-bottom: 4px solid #ff5e00;">全部<span><{$count1}></span></li></a>
                            <!--<a href="daifu.html"><li><i class="fa fa-credit-card-alt" aria-hidden="true"></i>待付款<span>2</span></li></a>-->
                            <a href="<{:U('User/buyerOrder',array('send'=>1))}>"><li><i class="fa fa-truck" aria-hidden="true"></i>待发货<span><{$count3}></span></li></a>
                            <a href="<{:U('User/buyerOrder',array('send'=>2))}>"><li><i class="fa fa-gift" aria-hidden="true"></i>待收货<span><{$count4}></span></li></a>
                            <a href="<{:U('User/buyerOrder',array('send'=>3))}>"><li><i class="fa fa-star-o" aria-hidden="true"></i>待评价<span><{$count5}></span></li></a>
                            <a href="<{:U('User/buyerOrder',array('send'=>4))}>"><li><i class="fa fa-check" aria-hidden="true"></i>已完成<span><{$count6}></span></li></a>
                        </ul>
                      </div>
                   </div>

					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
								<div class="woocommerce">                
									
                    
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>
            <div class="col-lg-12 statr-list row" style="padding:0px;margin-bottom: 16px;">
              <div class="dindan-title">
                <h3 style="    padding-left: 10px;">我的收藏<a href="<{:U('wishlist')}>"><span>查看更多<i class="fa fa-angle-right lf-10" aria-hidden="true"></i></span></a></h3>

              </div>
              <div class="dindan-list">
                 <div class="main-page col-lg-12 col-md-12 col-sm-12 col-xs-12">
                     <volist name="wishlist" id="row" empty="$empty">
                         <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                             <div class="product-item-container">
                                 <div class="left-block left-b">

                                     <div class="product-image-container second_img">
                                         <a href="<{:U('Product/productDetial',array('id'=>$row.id))}>" target="_self">
                                             <img src="<{$row.pic1}>" class="img-1 img-responsive">
                                             <!--<img src="<{$row.pic2}>" class="img-2 img-responsive">-->
                                         </a>
                                     </div>
                                 </div>
                                 <div class="right-block">
                                     <div class="caption hide-cont element1">
                                         <h4><a href="<{:U('Product/productDetial',array('id'=>$row.id))}>" title="Pastrami bacon" target="_self"><{$row.name}></a></h4>
                                     </div>
                                     <p class="price">
                                         <span class="price-new"><{$row.type}></span>
                                     </p>
                                 </div>
                             </div>
                         </div>
                     </volist>
                 </div>
              </div>
           </div>
           <!-- 人气商品 -->
           <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
              <div class="dindan-title">
                <h3>人气商品<a href=""><span></span></a></h3>
              </div>
              <div id="contents" role="main" class="main-page col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
              <!--changed listings-->
                  <div class="products-list row nopadding-xs so-filter-gird">

                      <volist name="product" id="row">
                        <div class="product-layout col-lg-15 col-md-4 col-sm-6 col-xs-12">
                            <div class="product-item-container">
                                <div class="left-block left-b">

                                    <div class="product-image-container second_img">
                                        <a href="<{:U('Product/productDetial',array('id'=>$row.id))}>" target="_self">
                                            <img src="<{$row.pic1}>" class="img-1 img-responsive">
                                            <img src="<{$row.pic2}>" class="img-2 img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="right-block">
                                    <div class="caption hide-cont element1">
                                        <h4><a href="<{:U('Product/productDetial',array('id'=>$row.id))}>" title="Pastrami bacon" target="_self"><{$row.name}></a></h4>
                                    </div>
                                    <p class="price">
                                      <span class="price-new"><{$row.type}></span>
                                    </p>
                                </div>
                            </div>
                        </div>
                      </volist>

                  </div>
              </div>
           </div>
           <!-- 人气商品 -->
					</div>

				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>




</body>
</html>


