
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
        <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

                <!-- 商家会员中心侧边栏  -->
                <include file="common:businessUserLeftBar" />
                <!-- 商家会员中心侧边栏  -->

		<div id="contents" role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
		    <div class="row adn" style="    margin: 0;">
		       <div style="width:30%;float:left;" class="col-lg-12">
		          <div class="lf-rg">
		              <img src="image/hy/top.png">
		          </div>
		           <div class="lf-lf">
		               <span>管理员</span><br>
		               <span>欢迎来到竞价买卖网！</span>
		           </div>
		       </div>

		       <div style="width:20%;float:left;">
		       </div>
		    </div>

            <div class="row">

                <div class="col-lg-6 statr-list shangjia-hy-1" style="padding:0px;margin-bottom: 16px;">
		              <div class="shangjia-title">
		                <h3>商品提示</h3>
		                <span>您已经出价的商品数量</span> 
		              </div>
		              <div class="shangjia-list-1">
		                <span style=" padding-left: 15px;font-size: 16px;">已出价的商品<span class="sign-lf">20</span></span>
		              </div>
                </div>
	            <div class="col-lg-6 statr-list  shangjia-hy-1" style="padding:0px;margin-bottom: 16px;">
		              <div class="shangjia-title">
		                <h3>平台联系方式</h3> 
		              </div>
		              <div class="shangjia-list-1">
		                 <span style="padding-left: 15px;font-size: 16px;" >联系电话：<span class="">1234567899</span></span>
		                   <span style="padding-left: 15px;font-size: 16px;" >QQ：<span class="">1234567899</span></span><br>
		                   <span style="padding-left: 15px;font-size: 16px;" >E-mail：<span class="">1234567899</span></span>
		              </div>
	            </div>
	            <div class="col-lg-6 statr-list  shangjia-hy-1" style="padding:0px;margin-bottom: 16px;">
		              <div class="shangjia-title">
		                <h3>交易提示</h3>
		                <span>您需要立即处理的交易订单</span> 
		              </div>
		              <div class="shangjia-list-1">
		                 <ul>
		                     <a href=""><li>待付款<span class="sign-lf">20</span></li></a>
		                     <a href=""><li>待发货<span class="sign-lf">20</span></li></a>
		                     <a href=""><li>售前退款<span class="sign-lf">20</span></li></a>
		                     <a href=""><li>售后退款<span class="sign-lf">20</span></li></a>
		                     <a href=""><li></li></a>
		                 </ul>

		              </div>
	            </div>
	            <div class="col-lg-6 statr-list  shangjia-hy-1" style="padding:0px;margin-bottom: 16px;">
		              <div class="shangjia-title">
		                <h3>销售情况统计</h3> 
		                <span>您需要关注的店铺信息以及待处理事项</span> 
		              </div>
		              <div class="shangjia-list-1">
		                <table>
		                    <thead>
		                       <tr>
		                           <td>项目	</td>
		                           <td>订单量</td>
		                           <td>订单金额</td>
		                       </tr>
		                    </thead>
		                    <tbody>
		                       <tr>
		                           <td>昨日销量	</td>
		                           <td>--</td>
		                           <td>--</td>
		                       </tr>
		                       <tr>
		                           <td>月销量</td>
		                           <td>--</td>
		                           <td>--</td>
		                       </tr>
		                    </tbody>
		                </table>
		              </div>
	            </div>
            </div>

			<div class="page type-page status-publish hentry">
				<div class="entry-content">
					<div class="entry-summary">
						<div class="woocommerce">                
							
	        
						</div>
					</div>
				</div>
				
				<div class="clearfix"></div>

					</div>

				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
   

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>




</body>
</html>


