
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{
          text-align: center;
         }
         .content-top .entry-summary table thead tr th, .entry-content .entry-summary table thead tr th, .commentlist .entry-summary table thead tr th {
    border-right: 0px;
}
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
   <!-- Header Container  -->
       <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

                <include file="common:businessUserLeftBar"/>

                <div id="contents" role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
                   <div class="col-lg-12 statr-list" style="padding:0px;margin-bottom: 16px;">
                      <div class="dindan-title">
                        <h3>我的订单</h3>
                      </div>
                      <div class="dindan-list">
                        <ul>
                           <a href="<{:U('User/buyerOrder')}>"><li  style="color:#ff5e00;border-bottom: 4px solid #ff5e00;">全部<span><{$count1}></span></li></a>
                           <!--<a href="daifu.html"><li><i class="fa fa-credit-card-alt" aria-hidden="true"></i>待付款<span>2</span></li></a>-->
                           <a href="<{:U('User/buyerOrder',array('send'=>1))}>"><li><i class="fa fa-truck" aria-hidden="true"></i>待发货<span><{$count3}></span></li></a>
                           <a href="<{:U('User/buyerOrder',array('send'=>2))}>"><li><i class="fa fa-gift" aria-hidden="true"></i>待收货<span><{$count4}></span></li></a>
                           <a href="<{:U('User/buyerOrder',array('send'=>3))}>"><li><i class="fa fa-star-o" aria-hidden="true"></i>待评价<span><{$count5}></span></li></a>
                           <a href="<{:U('User/buyerOrder',array('send'=>4))}>"><li><i class="fa fa-check" aria-hidden="true"></i>已完成<span><{$count6}></span></li></a>
                        </ul>
                      </div>
                   </div>

					<div class="page type-page status-publish hentry">
						<div class="entry-content">
							<div class="entry-summary">
								<div class="woocommerce">
									<form action="" method="post">
										<table class="shop_table shop_table_responsive cart" cellspacing="0" style="width:100%;">
											<thead>
												<tr>
													<th class="">&nbsp;</th>
													<th class="">图片</th>
													<th class="">产品</th>
													<th class="">型号</th>
                                                    <th class="">价格</th>
													<th class="">数量</th>
													<th class="">操作</th>
												</tr>
											</thead>
											<tbody>

                                                <volist name="data" id="row">
                                                    <tr style="position: sticky;bottom:0px;background-color: #fff;z-index: 99999;">
                                                      <td colspan="7" class="actions" style="text-align: center;border: 1px solid #ccc;padding:4px 10px;background-color: rgba(244, 242, 242, 0.43);">
                                                        <div class="coupon">
                                                            <!--<input type="checkbox" name="" style=" vertical-align: middle;">-->
                                                            <span style="font-size:12px;margin-left:10px;">订单号：<{$row.outtradeno}></span>
                                                        </div>
                                                        <div style="width:50%;float:right;    text-align: right;">
                                                            <eq name="$row.paystate" value="1">
                                                                <a href=""><span>删除</span></a>
                                                            </eq>
                                                        </div>
                                                      </td>
                                                    </tr>
                                                    <tr class="cart_item cart-table">
                                                        <td class="product-remove">

                                                        </td>
                                                        <td class="product-thumbnail" style="text-align: center;">
                                                            <a href="<{:U('Proudct/productDetail',array('id'=>$row['pid']))}>">
                                                                <img width="180" height="180" src="<{$row.pic1}>" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                                                            </a>
                                                        </td>
                                                        <td class="product-name" data-title="Product" style="text-align: center;">
                                                            <a href="<{:U('Proudct/productDetail',array('id'=>$row['pid']))}>"><{$row.name}></a>
                                                        </td>
                                                        <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                            <div class="">
                                                                 <span>店铺：<{$row.shopName}></span><br>
                                                                 <span>型号：<{$row.type}></span><br>
                                                            </div>
                                                        </td>
                                                        <td class="product-price" data-title="Price" style="text-align: center;">
                                                            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span><{$row.price}></span>
                                                        </td>
                                                        <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                                                            <div class="">
                                                                <span><{$row.num}></span>
                                                            </div>
                                                        </td>
                                                        <td class="product-subtotal" data-title="Total" style="text-align: center;">

                                                            <eq name="row.send" value="1">
                                                                <button type="button" class="wishlist btn-button" onclick="showSendGoodsModel(this,'<{$row.id}>')">
                                                                    <span>发货</span>
                                                                </button>
                                                            </eq>

                                                        </td>
                                                    </tr>
                                                </volist>

											</tbody>
										</table>
									</form>
                                    <div style="text-align: center;font-size: 20px;"><{$page}></div>
								</div>
							</div>
						</div>
						
						<div class="clearfix"></div>

					</div>

				</div>
			</div>
		</div>
		<!-- //Main Container -->
	 </div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>

<!--======= send goods model-->
<div class="modal fade" tabindex="-1" role="dialog" id="sendGoodsModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">发货</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="m_sendNo" class="col-sm-3 control-label">发货单号</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="m_sendNo" name="sendNo">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="sendGoods()">保存地址</button>
            </div>
        </div>
    </div>
</div>
<!--======= send goods model-->

<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>

<script type="text/javascript">
    /*确认收货*/
    var orderID;
    var sendObj;
    function sendGoods() {
        var sendNo = $('#m_sendNo').val();

        if(sendNo){
            $.ajax({
                url:'<{:U("Businessuser/checkSendGoods")}>',
                data:{id:orderID,sendNo:sendNo},
                type:'post',
                dataType:'json',
                success:function (rs) {
                    if(rs && rs['errno'] ==1){
                        alert('发货成功');
                        $(sendObj).remove();
                    }else {
                        alert("发货失败");
                    }
                }
            })
        }else {
            alert('请填写运单号');
        }
    }
    
    function showSendGoodsModel(obj,id) {
        orderID = id;
        sendObj = obj;
        $('#sendGoodsModal').modal();
    }
</script>


</body>
</html>


