
<!DOCTYPE html>
<html lang="en">
<head>
    
    <!-- Basic page needs
    ============================================ -->
    <title></title>
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="Magentech">
    <meta name="robots" content="index, follow" />
   
    <!-- Mobile specific metas
    ============================================ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/png" href="__PUBLIC__/Home/ico/favicon-16x16.png">
    
    <!-- 新引入 -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/main.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/style.css">
    <link rel="stylesheet" href="__PUBLIC__/Home/css/app-orange.css" id="theme_color" />
    <!-- end -->
   
    <!-- Libs CSS
    ============================================ -->
    <link rel="stylesheet" href="__PUBLIC__/Home/css/bootstrap/css/bootstrap.min.css">
    <link href="__PUBLIC__/Home/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/js/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/lib.css" rel="stylesheet">

    <!-- Theme CSS
    ============================================ -->
    <link href="__PUBLIC__/Home/css/themecss/so_searchpro.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so_megamenu.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-categories.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-listing-tabs.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-category-slider.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/themecss/so-newletter-popup.css" rel="stylesheet">

    <link href="__PUBLIC__/Home/css/footer/footer1.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/header/header1.css" rel="stylesheet">
    <link id="color_scheme" href="__PUBLIC__/Home/css/theme.css" rel="stylesheet">
    <link href="__PUBLIC__/Home/css/responsive.css" rel="stylesheet">

     <!-- Google web fonts

    ============================================ -->
    <link href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700' rel='stylesheet' type='text/css'>     
    <style type="text/css">
         body{font-family:'Poppins', sans-serif;}
         .cart_item td{text-align: center;}
          .tixian_ad{width:300px;background:#eee7e7;height: 180px;}
          .tixian_ad p{text-align: center;font-size: 24px; padding-top: 45px;}
          .tixian_text{text-align: center;}
          .tixian_text p{font-size: 16px;padding-top: 15px;}
          .tixian_text button{padding: 3px 15px; color: #fff;background: #ff5e00;}
          .tixian_list h3{padding:10px;}
          .tixian_list{margin:20px 0px;}
          .tixian_show{border-bottom:3px solid #ff5e00;}
    </style>

</head>

<body class="res layout-subpage layout-1 banners-effect-5">

    <div id="wrapper" class="wrapper-fluid">
        <include file="common:header" />
    <!-- //Header Container  -->

	<!-- Main Container  -->
	<div class="main-container container">
		
		<div class="container">
			<div class="row">

                <include file="common:businessUserLeftBar" />

    		<div id="contents" role="main" class="main-page col-lg-10 col-md-12 col-sm-12 col-xs-12">
		       <div style="" class="col-lg-12">
            <div class="add-title" style="padding:0px;">
                 <h3 style="line-height: 35px;margin-left: 20px;">提现管理</h3>
            </div>
            <div class="tixian_ad">
              <p><{$countMoney}></p>
              <div class="tixian_text">
                <span>可提现余额</span>
                <p><button type="button" onclick="showInfo()">提现全部订单</button></p>
              </div>
            </div>
            <div class="tixian_list">
              <h3>
                  <span><a href="<{:U('Businessuser/tixian')}>">可提现订单</a></span>
                  <span class="" style="margin-left:20px;"><a href="<{:U('Businessuser/tixian',array('finshed'=>2))}>">申请提现订单</a></span>
                  <span class="" style="margin-left:20px;"><a href="<{:U('Businessuser/tixian',array('finshed'=>3))}>">提现完成订单</a></span>
              </h3>
              <div class="page type-page status-publish hentry">
            <div class="entry-content">
              <div class="entry-summary">
                <div class="woocommerce">                
                  <form action="" method="post">
                    <table class="shop_table shop_table_responsive cart" cellspacing="0" style="width:100%;">
                      <thead>
                        <tr>
                          <th class="">&nbsp;</th>
                          <th class="">图片</th>
                          <th class="">产品</th>
                          <th class="">单价</th>
                          <th class="">数量</th>
                          <th class="">总价</th>
                          <th class="">状态</th>
                        </tr>
                      </thead>
                      <tbody>

                      <volist name="orders" id="row">
                        <tr style="position: sticky;bottom:0px;background-color: #fff;">
                          <td colspan="7" class="actions" style="text-align: center;border: 1px solid #ccc;padding:4px 10px;background-color: rgba(244, 242, 242, 0.43);">
                            <div class="coupon">
                                <span style="font-size:12px;margin-left:10px;">交易订单号：<{$row.outtradeno}></span>
                                <span style="font-size:12px;margin-left:10px;">商品单号：<{$row.orderno}></span>
                            </div>
                            <div style="width:50%;float:right;    text-align: right;">
                            </div> 
                          </td>
                        </tr>
                        <tr class="cart_item cart-table">
                          <td class="product-remove">
    
                          </td>     
                          <td class="product-thumbnail" style="text-align: center;">
                            <a href="simple_product.html">
                              <img width="180" height="180" src="<{$row.pic1}>" class="attachment-shop_thumbnail size-shop_thumbnail wp-post-image">
                            </a>
                          </td>
                          <td class="product-name" data-title="Product" style="text-align: center;">
                            <a href="simple_product.html"><{$row.name}></a>
                          </td>
                          <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span><{$row.price}></span>
                          </td>
                          <td class="product-price" data-title="Price" style="text-align: center;">
                              <span><{$row.num}></span>
                          </td>
                          <td class="product-quantity" data-title="Quantity" style="text-align: center;">
                              <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span><{$row.total}></span>
                          </td>
                          <td class="product-subtotal" data-title="Total" style="text-align: center;">
                              <eq name="row.finshed" value="1">
                                  <!--<button type="button" class="wishlist btn-button">-->
                                       <!--<span>提现</span>-->
                                  <!--</button>-->
                              </eq>
                          </td>
                        </tr>
                      </volist>

                      </tbody>
                    </table>
                  </form>
                    
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

          </div>
            </div>
		       </div>
    		</div>
		 </div>
	</div>
		<!-- //Main Container -->
</div> 


    <!-- Footer Container -->
        <include file="common:footer" />
    <!-- //end Footer Container -->

</div>
 <div class="modal fade" tabindex="-1" role="dialog" id="tixian_anniu1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 style="    color: #ff5e00;font-weight: bold;">提现金额</h3>
          <p style="font-size:20px;padding-top:20px; ">￥<span id="totalMoney">0</span></p>
      </div>
      <div class="modal-body">
        <form method="post" action="<{:U('Businessuser/applyTixianAll')}>" id="applyTixian">
            <div class="clearfix order_pay_type_box">
                <ul class="fl clearfix">
                    <li class="fl clearfix" style="font-size: 24px;">
                      <h3 style="    color: #ff5e00;font-weight: bold;">提现订单数</h3>
                      <h3 id="orderCount"></h3>
                    </li>
                    <li class="fl clearfix" style="font-size: 24px;">
                        <h3 style="    color: #ff5e00;font-weight: bold;">提现人姓名</h3>
                        <h3 id="alipayname"></h3>
                    </li>
                    <li class="fl clearfix" style="font-size: 24px;">
                        <h3 style="    color: #ff5e00;font-weight: bold;">提现账号</h3>
                        <h3 id="alipay"></h3>
                    </li>
                </ul>
                <p style="color: red;">*实际金额将在提现金额上扣除3%手续费</p>
            </div>
        </form>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="button" class="btn btn-primary" onclick="$('#applyTixian').submit();">提交</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->  

<!-- End Color Scheme
============================================ -->



<!-- Include Libs & Plugins
============================================ -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/owl-carousel/owl.carousel.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/slick-slider/slick.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/libs.js"></script>

<!-- Theme files
============================================ -->

<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/so_megamenu.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/themejs/addtocart.js"></script>
<script type="text/javascript">
    function showInfo(){
        $.ajax({
            url:'<{:U("Businessuser/tixianCheck")}>',
            type:'post',
            dataType:'json',
            success:function(rs){
                if(rs['orderCount'] < 1){
                    alert('当前没有可提现订单');
                    return false;
                }
                $('#totalMoney').text(rs['totalMoney']);
                $('#orderCount').text(rs['orderCount']);
                $('#alipayname').text(rs['alipayname']);
                $('#alipay').text(rs['alipay']);
                $('#tixian_anniu1').modal();
            }
        })
    }
</script>
</body>
</html>


